<footer>
        <div class="footer">
            <div class="one">
                <div class="single-box">
                    <img src="./images/bg.jpg" alt="">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam repellendus sunt praesentium
                        aspernatur iure molestias.
                    </p>
                    <h2 class="socials-head">We Accect</h2>
                    <div class="card-area">
                        <i class="fa fa-cc-visa"></i>
                        <i class="fa fa-credit-card"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="single-box">
                    <h2>Hosting</h2>
                    <ul>
                        <li><a href="#">Web Hosting</a></li>
                        <li><a href="#">Cloud Hosting</a></li>
                        <li><a href="#">CMS Hosting</a></li>
                        <li><a href="#">WordPress Hosting</a></li>
                        <li><a href="#">Email Hosting</a></li>
                        <li><a href="#">VPS Hosting</a></li>
                    </ul>
                </div>
            </div>
            <div class="three">
                <div class="single-box">
                    <h2>Domain</h2>
                    <ul>
                        <li><a href="#">Web Domain</a></li>
                        <li><a href="#">Cloud Domain</a></li>
                        <li><a href="#">CMS Domain</a></li>
                        <li><a href="#">WordPress Domain</a></li>
                        <li><a href="#">Email Domain</a></li>
                        <li><a href="#">VPS Domain</a></li>
                    </ul>
                </div>
            </div>
            <div class="four">
                <div class="single-box">
                    <h2>Newsletter</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur doloremque earum similique
                        fugiat nobis. Facere?</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Recipient's username"
                            aria-label="Enter your Email ..." aria-describedby="basic-addon2">
                    </div>
                    <h2 class="socials-head">Follow us on</h2>
                    <p class="socials">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-dribbble"></i>
                        <i class="fa fa-pinterest"></i>
                        <i class="fa fa-twitter"></i>
                    </p>
                </div>
            </div>
        </div>
    </footer>