{{>headerlinks}}

<body>
    <!-- navbar -->
    {{>navbar}}

    <header>
        <div class="header">
            <h1 class="header-title">
                Essential <br> <span>Oils</span> <br> EASILY
            </h1>
        </div>
    </header>

    <div class="admin-container">
        <a href="/admin/upload">Upload</a>
        <a href="/admin/edit">Edit</a>
        <a href="/admin/delete">Delete</a>
    </div>

    <!-- Footer -->

    {{>footer}}

    <script src="./js/script.js"></script>
</body>

