{{>headerlinks}}

<body>
    <!-- navbar -->
    {{>adminnavbar}}

    <!-- header -->
    <header class="startup">
        <div class="home"> 
            <h1 class="header-title">
                Essential <br> <span>Oils</span> <br> EASILY
            </h1>
        </div>
    </header>

    <div class="admin-container">
        <a href="/admin/upload">Upload</a>
        <a href="/admin/editDelete">Edit/Delete</a>
    </div>

    <!-- Footer -->

    {{>footer}}

    <script src="./js/script.js"></script>
</body>

